[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-decouple = "*"
loguru = "*"
requests = "*"
python-dateutil = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
